@import "./node_modules/bootstrap/scss/bootstrap.scss";

body{
    background-color: #d9d9d9;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#navbar-head{
    background-color: #000;
}

#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 34rem;
}

#texto-footer{
    font-size: small;
    padding-top: 10px;
}

#navfoot{
    position: relative;
}